.edit-course-form {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.full {
  width: 100%;
  margin-bottom: 15px;
}

.content-box {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
}
