.course-content-container {
  margin-top: 40px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 22px;
  background-color: #ffffff;
}

.content-header {
  font-size: 1.7rem;
  font-weight: 700;
  color: #003459;
  margin-bottom: 18px;
}

.module-panel {
  border-bottom: 1px solid #eee !important;
  transition: background 0.15s ease-in-out;
}

.module-panel:hover {
  background: #fafcff;
}

mat-expansion-panel-header {
  padding: 14px 6px !important;
  min-height: 58px !important;
}

.module-title-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.module-title {
  font-size: 1rem;
  font-weight: 600;
  color: #00171f;
}

.lecture-type {
  color: #666;
  font-size: 0.9rem;
  font-weight: 500;
}

.icon-wrap {
  padding-left: 6px; /* space before icon */
  display: flex;
  align-items: center;
}

.lock-icon,
.play-icon {
  font-size: 30px !important; /* bigger icon */
  width: 30px;
  height: 30px;
}

.lock-icon {
  color: #005980;
}

.play-icon {
  color: #007ea7;
}

.video-player-container {
  padding: 12px 0 18px 0;
}

.youtube-frame {
  width: 100%;
  height: 320px;
  border-radius: 8px;
}
